<h1>Make your form here</h1>
<form action= "/pirates" method="post">
<label>Pirate Name</label><br><input type="text" name="pirate[name]"><br>
<label>Weight</label><br><input type="text" name="pirate[weight]"><br>
<label>Height</label><br><input type="text" name="pirate[height]"><br>

<h2>Your first ship</h2>
<label>Ship's Name</label><br><input  id="ship_name_1" type="text" name="pirate[ships][][name]"><br>
<label>Type</label><br><input id="ship_type_1" type="text" name="pirate[ships][][type]"><br>
<label>Booty</label><br><input id ="ship_booty_1" type="text" name="pirate[ships][][booty]"><br>

<h2>Your second ship<h2>
<label>Ship's Name</label><br><input id="ship_name_2" type="text" name="pirate[ships][][name]"><br>
<label>Type</label><br><input id="ship_type_2" type="text" name="pirate[ships][][type]"><br>
<label>Booty</label><br><input id ="ship_booty_2" typetype="text" name="pirate[ships][][booty]"><br>



<input type="submit" name="Submit" id="submit" value="Submit">
</form>



